<footer id="contacto" class="footer-contacto">
    <div class="footer-contenido">
        <h2>Contacto</h2>

        <div class="footer-datos">
            <a href="mailto:axelabalosss@gmail.com" class="footer-link" (click)="copiarEmail()">
                axelabalosss&#64;gmail.com
            </a>
            <a href="https://www.linkedin.com/in/axel-abalos-b95461211/" target="_blank" class="footer-link">
                LinkedIn
            </a>

        </div>

        <div class="footer-copy">
            <p>© 2026 Axel Abalos · Desarrollador Web Full-Stack</p>
        </div>
    </div>
</footer>